* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.quiz {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
}

#choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}